.Rproj.user
.Rhistory
.RData
.Ruserdata
sucker.Rproj
differential_expression/june_only/
differential_expression/straw_only/
differential_expression/utah_only/
differential_expression/data/transcriptomes/unfiltered/june_transcripts.fasta
differential_expression/data/transcriptomes/unfiltered/utah_transcripts.fasta
differential_expression/data/transcriptomes/unfiltered/straw_transcripts.fasta
differential_expression/data/salmon/
differential_expression/data/rna_seq/
differential_expression/data/transcriptomes/unfiltered/NCBI/