.Rproj.user
.Rhistory
.RData
.Ruserdata
sucker.Rproj
differential_expression/data/predicted_genes
differential_expression/data/rna_seq/
differential_expression/data/salmon/
differential_expression/data/transcriptomes/fltr1/
differential_expression/data/transcriptomes/fltr2/
differential_expression/data/transcriptomes/unfiltered/june_transcripts.fasta
differential_expression/data/transcriptomes/unfiltered/utah_transcripts.fasta
differential_expression/data/transcriptomes/unfiltered/straw_transcripts.fasta
differential_expression/data/transcriptomes/unfiltered/NCBI/
differential_expression/figures/counts/gene/